Teensy-LC/bluetooth_teency_to_pi_node_red.txt
[{"id":"42857a04.c0d724","type":"serial in","z":"6487f85f.e5bff8","name":"","serial":"ae32aeb4.547c3","x":165,"y":192,"wires":[["d0e61880.b100a8","b2d3460.3ea6ab8","81855773.6bd318","1e91f02.7aaa11"]]},{"id":"30d7c37f.ca00cc","type":"serial out","z":"6487f85f.e5bff8","name":"","serial":"ae32aeb4.547c3","x":369,"y":423,"wires":[]},{"id":"b292ec61.1bdde","type":"debug","z":"6487f85f.e5bff8","name":"","active":false,"console":"false","complete":"false","x":535,"y":170,"wires":[]},{"id":"d0e61880.b100a8","type":"function","z":"6487f85f.e5bff8","name":"Temperature","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"Temperature:\"){\n   msg.payload = message2.payload; \n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"x":358,"y":146,"wires":[["b292ec61.1bdde","b3569f01.8230b"]]},{"id":"b2d3460.3ea6ab8","type":"function","z":"6487f85f.e5bff8","name":"Humidity","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"Humidity:\"){\n   msg.payload = message2.payload; \n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"x":361,"y":219,"wires":[["b79edf7d.10069","f4f51e9f.09e05"]]},{"id":"81855773.6bd318","type":"function","z":"6487f85f.e5bff8","name":"Dewpoint:","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"Dewpoint:\"){\n   msg.payload = message2.payload; \n   return msg;\n}else {\n return null;\n}","outputs":"1","noerr":0,"x":356,"y":286,"wires":[["efe90174.0cdd4","e497848a.615578"]]},{"id":"b79edf7d.10069","type":"debug","z":"6487f85f.e5bff8","name":"","active":false,"console":"false","complete":"false","x":537,"y":246,"wires":[]},{"id":"efe90174.0cdd4","type":"debug","z":"6487f85f.e5bff8","name":"","active":false,"console":"false","complete":"false","x":529,"y":332,"wires":[]},{"id":"b3569f01.8230b","type":"ui_gauge","z":"6487f85f.e5bff8","name":"","group":"b9240960.4d28e8","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":516,"y":123,"wires":[]},{"id":"f4f51e9f.09e05","type":"ui_gauge","z":"6487f85f.e5bff8","name":"","group":"aeb84f08.7b189","order":1,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":516,"y":210,"wires":[]},{"id":"e497848a.615578","type":"ui_gauge","z":"6487f85f.e5bff8","name":"","group":"8c2a515.4ec74b","order":1,"width":"6","height":"6","gtype":"gage","title":"Dewpoint","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":516,"y":297,"wires":[]},{"id":"c05181c9.098cf","type":"ui_switch","z":"6487f85f.e5bff8","name":"","label":"LED","group":"1cb9c98e.2933f6","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":173,"y":418,"wires":[["30d7c37f.ca00cc"]]},{"id":"1e91f02.7aaa11","type":"debug","z":"6487f85f.e5bff8","name":"","active":true,"console":"false","complete":"false","x":349,"y":362,"wires":[]},{"id":"ae32aeb4.547c3","type":"serial-port","z":"","serialport":"/dev/rfcomm0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b9240960.4d28e8","type":"ui_group","z":"","name":"Temperature","tab":"1d933034.369a6","disp":true,"width":"6"},{"id":"aeb84f08.7b189","type":"ui_group","z":"","name":"Humidity","tab":"1d933034.369a6","order":2,"disp":true,"width":"6"},{"id":"8c2a515.4ec74b","type":"ui_group","z":"","name":"Dewpoint","tab":"1d933034.369a6","order":3,"disp":true,"width":"6"},{"id":"1cb9c98e.2933f6","type":"ui_group","z":"","name":"LED","tab":"1d933034.369a6","order":4,"disp":true,"width":"6"},{"id":"1d933034.369a6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]